.zodiac-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  gap: 30px;
  /* border: solid 8px rgb(19, 2, 50); */
  padding: 35px;
  background-position: center;
  background-size: 'cover';
}
